/*
+++++++++++
reset
+++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(40, 157, 152);
    background: linear-gradient(180deg, rgba(40, 157, 152, 1) 20%, rgba(217, 219, 212, 1) 20%);
}
[v-clock]{
    display: none;
}

/*
+++++++++++
utility
+++++++++++
*/
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.just-content-center {
    justify-content: center;
}

.just-content-between {
    justify-content: space-between;
}

.px-10 {
    padding: 0 10px;
}
img{
    border-radius: 50%;
    width: 30px;
    margin-right: .3125rem;
}
/*
+++++++++++
struttura globale
+++++++++++
*/

.big-container {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
}

.row {
    background-color: white;
    width: 90%;
    height: 90%;
    display: flex;
}
#personal-user i,
#friend-chat i{
    padding: 0 .3125rem;
}
/*
+++++++++++
main left
+++++++++++
*/

#section-user {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
}


#personal-user {
    background-color: #eaeaea;
    height: 3.125rem;
}

/*
+++++++++++
notifiche
+++++++++++
*/
#notifiche {
    height: 50px;
    background-color: lightblue;
}
#notifiche i{
    background-color:  white;
    color: lightblue;
    padding: 10px;
    border-radius: 50%;
    margin-right: .3125rem;
}

/*
+++++++++++
sezione chat
+++++++++++
*/

#library-chats{
    height: 100%;
    overflow: hidden;
}

#search-bar {
    height: 1.875rem;
    padding-top: 15px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
#search-bar input{
    border: none;
    flex-grow: 1;
    padding: .3125rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#search-bar i{
    font-size: 15px;
    background-color: white;
    padding: .3125rem 1.25rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#all-chats{
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

#section-user #singol-chat{
    padding: .3125rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
}


/*
+++++++++++
main right
+++++++++++
*/

#open-chat {
    width: 60%;
    position: relative;
    height: 100%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
}

#friend-chat {
    background-color: #eaeaea;
    height: 3.125rem;
}
#sez-message{
    background-image: url(../img/mine.jpg);
    width: 100%;
    overflow-y: auto;
    height: 100%;
    padding: .625rem 1.875rem;
}
.inviato{
    display: flex;
    justify-content: end;
    width: 100%;
}
.ricevuto{
    display: flex;
    justify-content: start;
    width: 100%;
}
#sez-message p{
    padding: .3125rem;
    padding-right: 3.125rem;
    padding-left: .625rem;
    border-radius: .375rem;
    margin-bottom: .625rem;
}

.inviato p{
    background-color: #d6f8bced;
}
.ricevuto p{
    background-color: white;
}

#wrt-message {
    height: 3.125rem;
    background-color: #eaeaea;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

#wrt-message input{
    border: none;
    padding: .3125rem;
}

#emoji,
#invia-vocale{
    width: 10%;
}

#invia-msg{
    flex-grow: 1
}
#invia-msg input{
    width: 100%;
    border-radius: 5px;
}

#invia-vocale i{
    display: flex;
    justify-content: flex-end;
}