/*
+++++++++++
reset
+++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(40, 157, 152);
    background: linear-gradient(180deg, rgba(40, 157, 152, 1) 20%, rgba(217, 219, 212, 1) 20%);
}

/*
+++++++++++
utility
+++++++++++
*/
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.just-content-center {
    justify-content: center;
}

.just-content-between {
    justify-content: space-between;
}

.px-10 {
    padding: 0 10px;
}

/*
+++++++++++
struttura globale
+++++++++++
*/

.big-container {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    height: 100vh;
}

.row {
    width: 90%;
    height: 90%;
    display: flex;
    border: 1px solid black;
}

/*
+++++++++++
main left
+++++++++++
*/

#section-user {
    background-color: greenyellow;
    width: 40%;
    height: 100%;
    border: 1px solid;
    overflow: hidden;
}

#personal-user {
    background-color: lightcoral;
    height: 3.125rem;
}
/*
+++++++++++
notifiche
+++++++++++
*/
#notifiche {
    height: 50px;
    background-color: lightblue;
}
#notifiche i{
    background-color:  white;
    color: lightblue;
    padding: 10px;
    border-radius: 50%;
    margin-right: .3125rem;
}

/*
+++++++++++
sezione chat
+++++++++++
*/

#library-chats{
    height: 100%;
    overflow: hidden;
}

#search-bar {
    height: 1.875rem;
    background-color: gold;
}

#all-chats{
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

/*
+++++++++++
main right
+++++++++++
*/

#open-chat {
    background-color: yellow;
    width: 60%;
    border: 1px solid;
    position: relative;
}

#friend-chat {
    height: 3.125rem;
    background-color: lightcoral;
}

#wrt-message {
    height: 3.125rem;
    background-color: aqua;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}